<!DOCTYPE html>
<html>
  <head>
    <title>Simwyck's Jquery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- CSS Tacit téléchargé -->
    <link rel="stylesheet" href="/app/assets/stylesheets/tacit.min.css"/>

    <!-- Inspiré par https://jqueryui.com/tabs/ -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#tabs" ).tabs();
    } );
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
